@media screen and (min-width: 90em) {}

@media screen and (min-width: 24em) {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%)
}

.card {
    box-shadow: 6px 10px 27px 3px rgba(0,0,0,0.27);
    -webkit-box-shadow: 6px 10px 27px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 6px 10px 27px 3px rgba(0,0,0,0.27);
    margin: 200px auto;
    width: 350px;
    border-radius: 15px;
    padding: .5rem;
    aspect-ratio: 1 / 1;
    background-color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 3px;
    color: hsl(218, 44%, 22%);

}

.qr_code {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}

.description {
    display: flex;
    font-size: 15px;
    text-align: center;
    width: 80%;
    height: 30%;
    margin: auto;
    color: hsl(220, 15%, 55%);
}
