@media screen and (min-width: 90em) {}

@media screen and (min-width: 24em) {}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%)
    
}

.card {

    box-shadow: 6px 10px 27px 3px rgba(0,0,0,0.27);
    -webkit-box-shadow: 6px 10px 27px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 6px 10px 27px 3px rgba(0,0,0,0.27);
    text-align: center;
    width: 350px;
    border-radius: 18px;
    padding: 17px;
    background-color: white;

}

.card h1 {

    font-size: 24px;
    padding: 20px;
    color: hsl(218, 44%, 22%);

}

.qr_code {

    width: 100%;
    border-radius: 10px;
}

.card p {

    padding: 0 15px 0;
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 1.2;
    display: flex;
    color: hsl(220, 15%, 55%);
}
